* {
  font-family: "Roboto";
  font-size: 16px;
}
#container {
  display: flex;
  flex: 0 0 auto;
}
#new-book-modal {
}
#books {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.book {
  width: 15vw;
  background-color: #f3f3f3;
  border-radius: 15px;
  box-shadow: #cbd0d8 1.95px 1.95px 2.6px;
  padding: 2vw;
  margin: 2vw;
}
form {
  display: flex;
  flex-direction: row;
  background-color: white;
  padding-left: 4vw;
  box-shadow: #cbd0d8 1.95px 1.95px 2.6px;
}
legend {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: bold;
}
fieldset {
  border: 0px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
label {
  text-transform: uppercase;
  font-size: small;
}

input:not([type="radio"]) {
  display: flex;
  flex-direction: column;
  width: 18vw;
  height: 2.5vh;
  margin-bottom: 1rem;
  margin-right: 3rem;
  border: 1px solid #e5e7eb;
  border-radius: 3px;
}
input:valid {
  border: 1px solid green;
}
input:invalid {
  border: 1px solid red;
}
input:focus {
  box-shadow: #cbd0d8 1.95px 1.95px 2.6px;
  outline: 1px solid blue;
  border: 1px solid blue;
}
#button-submit {
  background-color: #596d48;
  color: white;
  border: 0px solid;
  border-radius: 4px;
  padding: 10px 35px;
  box-shadow: #cbd0d8 1.95px 1.95px 2.6px;
}
#save-book {
  margin: 2vw 0%;
}
.delBook {
  display: block;
  font-size: x-small;
  background-color: red;
  width: fit-content;
  margin-top: 2vh;
  color: white;
  border: 0px solid;
  border-radius: 4px;
  padding: 5px;
  box-shadow: #cbd0d8 1.95px 1.95px 2.6px;
}
.bookRead {
  display: block;
  font-size: x-small;
  background-color: gray;
  width: fit-content;
  margin-top: 2vh;
  color: white;
  border: 0px solid;
  border-radius: 4px;
  padding: 5px;
  box-shadow: #cbd0d8 1.95px 1.95px 2.6px;
}
.bookButtons {
  display: flex;
  gap: 1vw;
}
