#container {
  display: flex;
  flex: 0 0 auto;
}

.book {
  width: 15vw;
  background-color: #f3f3f3;
  border-radius: 15px;
  box-shadow: #cbd0d8 1.95px 1.95px 2.6px;
  padding: 2vw;
  margin: 2vw;
}
